@media(min-width: 480px){
}

@media(min-width: 768px){
    .container {
        width: 48em;
    }

    .header-wrapper {
        width: 48em;
    }
    
    .header-top-view-wrapper {
        width: 48em;
    }

    .logo-searchbar-wrappper {
        width: 80%;
        padding-bottom: 10px;
    }

    .logo-wrapper {
        width: 38%;
    }

    .searchbar-wrapper {
        width: 62%;
        margin-top: 40px;
        padding-left: 20px;   
    }

    .username-navbar-wrapper {
        padding-top: 30px;
    }

    .navbar-wrapper {
        width: 60%;
    }

    .navbar {
        display: block;
    }

    .ham-burger {
        display: none;
    }

    .navbar-right-wrapper {
        width: 40%;
        font-size: 10px;
        padding: 5px 0 5px 0;
    }

    .body-wrapper {
        width: 48em;
    }

    .body-view-wrapper {
        width:  48em;
        padding: 25px 0px 15px 0px;
    }

    .body-left-wrapper {
        width: 20%;
    }

    .left-content-wrapper {
        width: 80%;
        
    }
    
    .body-right-image-wrapper {
        width: 10%;
    }

    .body-right-wrapper {
        width: 80%;
    }
    
    .body-main-wrapper {
        float: left;
        width: 70%;
        padding-left: 30px; 
    }

    .body-header-wrapper {
        width: 49.5%;
        float: left; 
    }

    .body-tabs-wrapper {
        width: 49.5%;

    }

    .category-left-header {
        width: 95px;
    } 

    .body-rightbar-wrapper {
        background: #f5f5f5;
        float: right;
        width: 25%;
    }

    .footer-wrapper {
        width: 48em;
    }
    
    .footer-view-wrapper {
        max-width: 48em;
    }

    .footer-left-wrapper {
        padding-top: 1px;
        background: #727272;
        float: left;
        width: 85%;
        
    }
    
    .footer-right-wrapper {
        padding-top: 1px;
        background: #727272;
        float: right;
        width:15%;
        font-size: 13px; 
    }
}

@media(min-width: 992px){
    .container {
        width: 100%;
    }

    .header-wrapper {
        background: #7dd9e8;
        width: 100%;
    }
    
    .header-top-view-wrapper {
        background: #7dd9e8;
        width: 62em;
    }

    .logo-searchbar-wrappper {
        width: 80%;
        padding-bottom: 10px;
    }

    .logo-wrapper {
        width: 38%;
    }

    .searchbar-wrapper {
        width: 62%;
        margin-top: 40px;
        padding-left: 20px;   
    }

    .username-navbar-wrapper {
        padding-top: 30px;
    }

    .header-bottom {
        width: 940px;
        height: 40px;
        overflow: hidden;
    }

    .navbar-wrapper {
        width: 636px;
        padding: 12px 0 12px 0;
    }

    .navbar {
        display: block;
    }

    .ham-burger {
        display: none;
    }

    .navbar-right-wrapper {
        width: 304px;
        font-size: 10px;
        padding: 12px 0 12px 0;
    }

    .body-wrapper {
        width: 62em;
    }

    .body-view-wrapper {
        width:  62em;
        padding: 25px 0px 15px 0px;
    }

    .body-left-wrapper {
        width: 20%;
    }

    .left-content-wrapper {
        width: 80%;
        
    }
    
    .body-right-image-wrapper {
        width: 10%;
    }

    .body-right-wrapper {
        width: 80%;
    }
    
    .body-main-wrapper {
        float: left;
        width: 70%;
        padding-left: 30px; 
    }

    .body-header-wrapper {
        width: 49.5%;
        float: left; 
    }

    .body-tabs-wrapper {
        width: 49.5%;

    }

    .category-left-header {
        width: 120px;
    } 

    .body-rightbar-wrapper {
        background: #f5f5f5;
        float: right;
        width: 25%;
    }

    .footer-wrapper {
        width: 100%;
    }
    
    .footer-view-wrapper {
        max-width: 62em;
    }

    .footer-left-wrapper {
        padding-top: 1px;
        background: #727272;
        float: left;
        width: 85%;
        
    }
    
    .footer-right-wrapper {
        padding-top: 1px;
        background: #727272;
        float: right;
        width:15%;
        font-size: 13px; 
    }
}

