
.logo-wrapper {
    text-align: center;
}

.username-wrapper {
    text-align: right;
    font-size: 0.875em;
}
.user-navbar-wrapper a {
    color: black;
}

.user-navbar li {
    list-style: none;
    display: inline;
    font-size: 11px;
    border-left: solid 1px black;
}
.user-navbar li:first-child {
    border-left: none;
}

.user-navbar li a{
    text-align: right;
    padding-right: 3px;
    padding-left: 3px;
    /* color: black; */
}

.navbar-wrapper a {
    color: black;
}

.navbar-right-wrapper a {
    color: black;
}

.navbar li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    padding: 0px 15px 0px 5px;
    
}


.navbar-right li{
    list-style: none;
    display: inline-block;
    padding-right: 30px;
     
}
.navbar-right span {
    padding-right: 8px;
}

.body-left-header-wrapper {
    color: #fffffd;
    font-size: 19px;
    padding: 15px 12px 15px 12px;
}


.content li {
    padding-top: 5px;
    list-style: none;
}
.left-content {
    font-size: 12px;
    display: inline-block;
    font-weight: bold;
}
.left-content li{
    padding-bottom: 10px;
}

.line {
    border-top: 1px solid #dddddd;
    margin: 4px;
}


.content-second {
    font-size: 15px ;
    font-weight: bold;
}

.content-third {
    font-size: 12px ;
}

.content-fourth {
    font-size: 13px ;
}


.body-right-header-wrapper {
    color: #fffffd;
    font-size: 19px;
    padding: 15px 12px 15px 12px;
}
.right-content {
    font-size: 12px;
    font-weight: bold;
}

.right-content li{
    padding-bottom: 10px;
    list-style: none;
}

.footer li {
    list-style: none;
    display: inline-block;
    font-size: 13px;
    padding-right: 2px;
}


    /* Arranging buttons*/



.category-left-header:hover .btn-l {
    background: #2fc1da url("../images/btn-tab-active-left.png") no-repeat top left;
}

.category-left-header:hover .btn-r {
    background: url("../images/btn-tab-active-right.png") no-repeat top right;
}

.category-left-header:hover a {
    color: #ffffff;
    display: block;
    font-weight: bold;
}

.category-left-header a{
    color: black;
    display: block;
    font-size: 11px;
    height: 28px;
    text-align: center;
    line-height: 20px;
    text-decoration: none;
    padding-top: 5px;
}
.category-left-header.active a {
    color:#ffffff;
    
}



.btn-l {
    background: #dddddd url("../images/btn-tab-inactive-left.png") no-repeat top left;
}

.btn-r {
    background:  url("../images/btn-tab-inactive-right.png") no-repeat top right;
}

.category-left-header.active .btn-l {
    background: #2fc1da url("../images/btn-tab-active-left.png") no-repeat top left;
}

.category-left-header.active .btn-r {
    background: url("../images/btn-tab-active-right.png") no-repeat top right;
}

.btn-lside {
    background: #f5f5f5 url("../images/entries-left.png") no-repeat top left;
    padding-top: 10px;
}

.btn-rside {
    background: #f5f5f5 url("../images/entries-right.png") no-repeat top right;
    padding-top: 10px;
}

.straight-line {
    border-top: 2px solid #2fc1da;
}

.search-btn {
    width: 240px;
    float: left;
    padding-right: 2px;
}
.search {
    margin-left: 7px;
    width: 219px;
    height: 16px;
    border: none;
    background: #caeff7;
    font-size: 9px;
}

.search-btn .btn-left {
    background: #2fc1da url("../images/search-left.png") no-repeat top left;
}

.search-btn .btn-right {
    background: url("../images/cross-icon.png") no-repeat top right;
}

.search-icon {
    float: left;
    height: 20px;
}
.search-image {
    float: left;
    height: 20px;
}

.search-button {
    width: 50px;
    float: left;
    padding-left: 7px;
}
.search-button a {
    color: #ffffff;
    display: block;
    font-size: 9px;
    text-align: center;
    line-height: 16px;
    text-decoration: none;
}

.button-left {
    background: #284e57 url("../images/btn-search-left.png") no-repeat top left;
}

.button-right {
    background:  url("../images/btn-search-right.png") no-repeat top right;
}


 /* hover states */

 .username-navbar-wrapper a:hover {
    color: #ffffff;
 }
 .navbar-wrapper ul li a:hover {
    color: #2fc1da;
}

.navbar-right-wrapper ul li a:hover {
    color: #2fc1da;
}

.body-left-content-wrapper:hover {
    background-color:#ffffff;
}

.body-right-content-wrapper:hover {
    background-color: #ffffff;
}

.content-right-wrapper span.name{
    color: #2fc1da;
}
.subscribed {
    color:#709720;
    font-weight: bold;

}
.content-first a.alert {
    color: #d53f1c;
    font-size: 11px;
    font-weight: bold;
}

.active {
    color: #2fc1da;
    font-size: 11px;
    font-weight: bold;
}
.content-third .name:hover {
    font-weight: bold;
}

.content-third .subscribed:hover {
    color: #2fc1da;
    font-weight: bold;
}

.content-fourth .name:hover {
    font-weight: bold;
}

.footer-wrapper a:hover {
    color: #ffffff;
    font-weight: bold;
}